body{
    background-color: rgb(29, 29, 29);
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.hor{
    width:50wh;
    float: left;
    background-color: rgb(29, 29, 29);
}
nav{
    background: rgba(255, 255, 255,0.8);
}
nav ul{
    list-style: none;
}
#search{
    padding: 17% 0 0 7%;
    position: absolute;
    font-size: 1.5em;
    height:5vh;
    width:30wh;
}
#search img{
    height:10vh;
}
.hor2{
    width:50wh;
    float: left;;

}
.hor2 img{    
    height:100vh;
    padding-left:95.5%;
    background-position: center;
}